/* Base Styles -------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;;0,600;0,700;1,200;1,300&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-style: normal;
  overflow-X: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  color: $body-color;
  margin: 0 0 26px;
  font-weight: 600;
  a {
    color: $body-color;
  }
}
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

a {
  color: $body-color;
  transition: all 0.3s ease 0s;
  text-decoration: none ;
  outline: none ;
}
